.checkbox-original {
  transform: scale(2);
}

/* .checkbox-wrapper {
    cursor: pointer;
    background: #15273b;
    padding: 1em;
    width: 50px;
    height: 25px;
    border-radius: 12px;
  }

.checkbox-original {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-button {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: .2s;
  }
.toggle-button::after {
    content: '';
    border-radius: 50%;
    background: #ccc;
    grid-column: 2;
    transition: #f5f5f5 .2s;
}
.checkbox-original:checked + .togglebutton {
    grid-template-columns: 1fr 1fr 0fr; 
}

.checkbox-original:checked + .togglebutton::after {
    background-color: #52cf71;
  } */
