.infoContainer {
  display: flex;
  align-items: center;
  height: 5em;
}

.infoContainer > * {
  margin: 2em;
  flex: 1 100%;
}

.infoContainer > button {
  border: none;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.infoContainer > .employeeNameDisplay {
  font-weight: bold;
  margin-left: 5em;
  text-align: left;
}

.infoContainer > button.userProfileButton {
  background-color: #577ca2;
  border-radius: 6px;
  color: #fff;
  padding: 0.5em 0;
  font-size: 14px;
}

.infoContainer > button.userProfileButton.delete {
  background-color: #b40000;
}

.employeeNameDisplay {
  text-transform: capitalize;
}

.userFullNameDisplay {
  text-align: left;
}

.dropdownContainer {
  display: inherit;
}

.roleUpdateStatus {
  margin-left: 1rem;
}
