.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 5em;
  background: red;
  width: 100%;
}

.infoContainer > h3 {
  margin-left: 2em;
}

.infoContainer > button.passwordBtn {
  background-color: #577ca2;
  border-radius: 0px;
  height: 2em;
  font-size: 0.8rem;
  width: 12em;
  margin-left: 14em;
  position: absolute;
}

.infoContainer > button.deleteBtn {
  background-color: #b40000;
  border-radius: 0px;
  width: 5em;
  height: 2em;
  margin-right: 2em;
  font-size: 0.8rem;
}

.dropdownContainer {
  position: absolute;
  padding-right: 8em;
}
