.analysisContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
}

.chartMarginTop {
  margin-top: 2rem;
}

.flexbox {
  grid-column-start: 2;
  flex-direction: column;
}
