* {
  font-family: 'Montserrat', sans-serif;
}

.loginContainer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h4 {
  margin-top: 1em;
}

.loginContainer > input {
  display: block;
  height: 2em;
  width: 15em;
  margin: 2rem;
  text-align: center;
  background-color: #00aeef;
  border-color: #00aeef;
  border-radius: 2px;
  outline: none;
  border-style: solid;
  font-size: 1.5rem;
  padding: 0.25rem;
}

.accountSubmitButton {
  display: block;
  height: 2em;
  width: 81%;
  margin: 2rem;
  background-color: #577ca2;
  border-color: #577ca2;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #fff;
}

.accountSubmitButton:hover {
  cursor: pointer;
}

.loginContainer > ::-webkit-input-placeholder {
  text-align: center;
  font-size: 1.5rem;
  color: #4b4b4b;
  vertical-align: middle;
}

.loginContainer > :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  font-size: 1.5rem;
  color: #4b4b4b;
  vertical-align: middle;
}

.loginContainer > ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  font-size: 1.5rem;
  color: #4b4b4b;
  vertical-align: middle;
}

.loginContainer > :-ms-input-placeholder {
  text-align: center;
  font-size: 1.5rem;
  color: #4b4b4b;
  vertical-align: middle;
}

.ideaLabLogo {
  width: 600px;
}
