* {
  font-family: 'Montserrat', sans-serif;
}

.loginContainer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-right: 8em;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  margin-top: 1em;
}

.loginContainer input {
  display: block;
  height: 2em;
  width: 15em;
  margin: 1rem;
  border-radius: 2px;
  border-color: #aaa;
  outline: none;
  border-style: solid;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.loginContainer input:focus {
  border-color: #00aeef;
}

.accountSubmitButton {
  display: block;
  height: 2em;
  width: 33%;
  margin: 1rem;
  background-color: #577ca2;
  border-color: #577ca2;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #fff;
  align-self: flex-end;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.accountSubmitButton:hover {
  cursor: pointer;
}

.loginContainer > ::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: #4b4b4b;
  vertical-align: middle;
}

.loginContainer > :-moz-placeholder {
  /* Firefox 18- */
  font-size: 1.5rem;
  color: #4b4b4b;
  vertical-align: middle;
}

.loginContainer > ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1.5rem;
  color: #4b4b4b;
  vertical-align: middle;
}

.loginContainer > :-ms-input-placeholder {
  font-size: 1.5rem;
  color: #4b4b4b;
  vertical-align: middle;
}

.ideaLabLogo {
  max-width: 370px;
}
