* {
  font-family: 'Montserrat', sans-serif;
}

.loginContainer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  margin-top: 1em;
}

.accountSubmitButton {
  display: block;
  height: 2em;
  width: 33%;
  margin: 1rem;
  background-color: #577ca2;
  border-color: #577ca2;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #fff;
  align-self: flex-end;
}

.accountSubmitButton:hover {
  cursor: pointer;
}

.ideaLabLogo {
  max-width: 370px;
}
