.uploadContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.uploadContainer img {
  width: 100%;
}

.uploadContainer div {
  display: flex;
  flex-direction: column;
}

.uploadContainer .upload {
  border-style: dashed;
  border-width: 2px;
  border-color: var(--light-blue);
  height: 7.5em;
}

.uploadContainer > form {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
}
.uploadContainer input {
  background-color: var(--dark-blue);
  color: var(--white-text);
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.uploadContainer input::placeholder {
  color: var(--white-text);
  text-align: left;
  margin-left: 0.5em;
}
.uploadContainer button.shapedButton {
  background-color: #1f9385;
  color: var(--white-text);
}
