.queueBanner {
  list-style-type: none;
  text-align: left;
  display: flex;
}

.queueFilterInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container input {
  padding: 2px;
  border: none;
  font-size: 14px;
  background: white;
  border: solid 1px #333;
  border-radius: 6px;
  text-align: left;
}

.queueBanner .col10 {
  width: 5%;
}
.queueBanner .col20 {
  width: 20%;
}
