.queueBanner {
  list-style-type: none;
  text-align: left;
  display: flex;
}

body {
  margin-right: 50px;
}

table {
  width: 100%;
  margin: 10px 2em;
  table-layout: fixed;
}

.submittedHeader,
.statusHeader {
  padding-left: 0;
  padding-right: 8em;
}

tbody {
  display: block;
  overflow: auto;
  height: 1000px;
  width: 100%;
}

td,
th {
  padding: 0.5rem;
}

thead tr {
  display: flex;
  text-align: left;
  margin-left: 20px;
}

tbody tr {
  display: flex;
  align-items: center;
}

.printFileName {
  overflow: hidden;
}

tr td:nth-child(1),
tr th:nth-child(1) {
  width: 21%;
}

tr td:nth-child(2),
tr th:nth-child(2) {
  width: 33%;
}

tr td:nth-child(3),
tr th:nth-child(3),
tr td:nth-child(4),
tr th:nth-child(4) {
  width: 21%;
}

tr td:nth-child(5),
tr th:nth-child(5) {
  width: 8%;
}

#secondRowContent {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.queueFilterInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container input {
  padding: 2px;
  border: none;
  font-size: 14px;
  background: white;
  border: solid 1px #333;
  border-radius: 6px;
  text-align: left;
}

.queueBanner .col10 {
  width: 5%;
}
.queueBanner .col20 {
  width: 20%;
}
