.queueBanner {
  list-style-type: none;
  text-align: left;
  display: flex;
}

body {
  margin: 0px 50px;
}

table {
  width: 100%;
  margin: 10px 2em;
}

tbody {
  display: block;
  overflow: auto;
  height: 1000px;
  width: 100%;
}

td,
th {
  padding: 0.5rem 4em;
}

thead tr {
  display: block;
}

.queueFilterInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container input {
  padding: 2px;
  border: none;
  font-size: 14px;
  background: white;
  border: solid 1px #333;
  border-radius: 6px;
  text-align: left;
}

.queueBanner .col10 {
  width: 5%;
}
.queueBanner .col20 {
  width: 20%;
}
