.adminSettingsContainer {
  margin: 80px;
}

.headerContainer {
  left: 0;
  right: 0;
  margin: auto;
}

.sectionContainer > .colorPickerContainer > * {
  width: 85% !important;
}

.colorPickerContainer {
  padding: 5px;
  margin-left: 0;
  margin-bottom: 10px;
  display: block;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
}

.colorPickerContainer > * {
  width: 90%;
}

.circle-picker > * {
  display: flex;
  padding-top: 1em;
  margin: 0 2em 1em 0;
}

#FFFFFF {
  color: black;
}

.color-ex:hover {
  cursor: pointer;
}

.sectionContainer {
  font-size: 0.9em;
  display: block;
  text-align: left;
  margin-bottom: 2em;
}

.adminSettingsSectionHeader {
  font-size: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
  width: fit-content;
  font-weight: bold;
}

.listContainer {
  margin-left: 15px;
}

.emailSettingsInputDisplay {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.adminSettingsInput {
  background-color: #577ba1;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1em 10px;
  width: 200px;
  margin: 0 1em 1em 0;
}

input::placeholder {
  color: white;
  font-size: 14px;
  text-align: left;
}

.adminSettingsButton {
  background-color: #658b5a;
  width: fit-content;
  border-radius: 3px;
  color: white;
  padding: 5px;
  box-shadow: 4px 3px rgba(0, 0, 0, 0.5);
}

.emailSettingsButton {
  align-self: flex-end;
}

.adminSettingsButton:hover {
  cursor: pointer;
}

.ideaLabLogo {
  width: 600px;
  margin-top: 25px;
}

.adminContainer .statusMenu {
  margin-top: 20px;
  margin-left: 40px;
}

.toggleContainer {
  display: flex;
}

.toggleContainer p {
  margin-top: 0.35rem;
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #888;
}

.switch {
  position: relative;
  width: 3.75rem;
  height: 2.1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.65rem;
  width: 1.65rem;
  left: 0.25rem;
  bottom: 0.25rem;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #577ba1;
}

input:checked + .slider:before {
  transform: translateX(1.6rem);
}
