.adminSettingsContainer {
  margin: 80px;
}

.headerContainer {
  left: 0;
  right: 0;
  margin: auto;
}

.colorPickerContainer {
  padding: 5px;
  margin-left: 0;
  margin-bottom: 10px;
  display: block;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
}

.colorPickerContainer > * {
  width: 90%;
}

.circle-picker > * {
  display: flex;
  border-top: 1px solid grey;
  padding-top: 1em;
  margin: 0 2em 1em 0;
}

.sectionContainer {
  font-size: 0.9em;
  display: block;
  text-align: left;
  margin-bottom: 2em;
}

.adminSettingsSectionHeader {
  font-size: 1em;
  border-bottom: 2px solid black;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  width: fit-content;
}

.listContainer {
  margin-left: 15px;
}

.emailSettingsInputDisplay {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.adminSettingsInput {
  background-color: #577ba1;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1em 10px;
  width: 200px;
  margin-right: 1em;
}

input::placeholder {
  color: white;
  font-size: 14px;
  text-align: left;
}

.adminSettingsButton {
  background-color: #658b5a;
  width: fit-content;
  border-radius: 3px;
  color: white;
  padding: 5px;
  box-shadow: 4px 3px rgba(0, 0, 0, 0.5);
}

.emailSettingsButton {
  align-self: flex-end;
}

.adminSettingsButton:hover {
  cursor: pointer;
}
