.profilesStyles {
  display: flex;
  flex-direction: column;
  margin: 0 3em;
}

.userProfileContainer {
  display: flex;
  justify-content: space-evenly;
}

.createAccountButton {
  align-self: flex-end;
}

.createAccountButton > a > button {
  background-color: #62a257;
  border-radius: 6px;
  color: #fff;
  margin: 1em 0;
  padding: 0.5em 2em;
  font-size: 14px;
}

.userProfileContainer button:hover {
  cursor: pointer;
}

.profilesContainer {
  width: 100%;
}

