/* Layout */
:root {
  --light-blue: #00aeef;
  --dark-blue: #1f4393;
  --other-dark-blue: #577ca2;
  --misc-gray: #f6f6f6;
  --cream: #f0e3c4;
  --yellow: #ffd401;
  --white-text: #ffffff;
  --mint: #a4c14e;
  --light-green: #658b5a;
  --dark-green: #415835;
  --egg-plant: #543269;
  --amber: #fbb116;
  --dark-brown: #3b2314;
  --light-brown: #826a5c;
  --lime: #e5e216;
  --sage: #c0c382;
  --orange-red: #d93f24;
  --error-color: red;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url('images/idealabBackground.svg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#root {
  height: 100%;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.grid-container:nth-child(2) {
  margin: 0 50px;
}

.grid-item-nav {
  border-right: solid;
  background-color: white;
  opacity: .6;
}

.navList li {
  display: flex;
  height: 4em;
  align-items: center;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.selected {
  color: var(--light-blue);
  border-right: 6px solid;
}

.navList a {
  flex-grow: 1;
  text-align: center;
}

.navList a:hover {
  background-color: rgba(30, 144, 255, 0.25);
  color: black;
}

.navList {
  font-size: 2rem;
  list-style: none;
  text-align: left;
  position: fixed;
  width: 10.7%;
}

@media screen and (max-width: 1240px) {
  .navList {
    width: 10.6%;
  }
}

@media screen and (max-width: 920px) {
  .navList {
    width: 10.5%;
  }
}

.navList a,
.printCardContainer a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--default-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dummyNavBar {
  width: 0;
  grid-column: 1;
}

.loginManagerContainer {
}

.loginContainer {
  grid-column: 2;
}

.uploadContainer input,
.loginContainer input {
  width: 100%;
  display: block;
  height: 2em;
  margin: 2rem;
  border-radius: 10px;
  outline: none;
  border-style: solid;
  font-size: 1.5rem;
  padding: 0.25rem;
}

.uploadContainer input::placeholder,
.loginContainer input::placeholder {
  color: gray;
}

.shapedButton {
  display: block;
  height: 2.5em;
  margin: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

.sidebarIcon {
  padding: 2em 0;
}

.hidden {
  display: none;
}

.success {
  color: var(--dark-green);
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
  border-radius: 5px;
}

.error {
  color: var(--orange-red);
  font-size: 1.5rem;
  margin: 1rem 2rem 1rem 2rem;
  border-radius: 5px;
}

.form__container {
  width: 30rem;
  border: 1px solid #ccc;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  background: white;
  padding: 2rem;
  position: fixed;
  top: 20vh;
  margin: 0 auto;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s ease-out;
}
