/* Layout */
:root {
  --light-blue: #00aeef;
  --dark-blue: #1f4393;
  --cream: #f0e3c4;
  --yellow: #ffd401;
  --white-text: #ffffff;
  --mint: #a4c14e;
  --light-green: #658b5a;
  --dark-green: #415835;
  --egg-plant: #543269;
  --amber: #fbb116;
  --dark-brown: #3b2314;
  --light-brown: #826a5c;
  --lime: #e5e216;
  --sage: #c0c382;
  --orange-red: #d93f24;
  --error-color: red;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url('images/idealabBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  height: 100%;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.grid-item-nav {
  border-right: solid;
  background-color: white;
  opacity: 60%;
}

.navList li {
  display: flex;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.selected {
  color: var(--light-blue);
  border-right: 6px solid;
}

.navList a {
  flex-grow: 1;
  text-align: center;
}

.navList a:hover {
  background-color: rgba(30, 144, 255, 0.25);
  color: black;
}

.navList {
  font-size: 2rem;
  list-style: none;
  text-align: left;
}

.navList a,
.printCardContainer a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--default-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.uploadContainer input,
.loginContainer input {
  display: block;
  height: 2em;
  margin: 2rem;
  border-radius: 10px;
  outline: none;
  border-style: solid;
  font-size: 1.5rem;
  padding: 0.25rem;
}

.shapedButton {
  display: block;
  height: 2.5em;
  margin: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

.sidebarIcon {
  padding: 2em 0;
}

.hidden {
  display: none;
}

.success {
  color: var(--dark-green);
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
  border-radius: 5px;
}

.error {
  color: var(--orange-red);
  font-size: 1.5rem;
  margin: 1rem 2rem 1rem 2rem;
  border-radius: 5px;
}
