.banner {
    list-style-type: none;
    text-align: left;
    display: flex;
}

body {
    margin: 0px 50px;
}

.queueFilterInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.statusMenu {
	display: flex;
	flex-direction: row;
}

.statusMenu button {
	outline: none;
	border: none;
	background-color: var(--default-background);
	margin: 0 0 1em 0;
	padding: .5em;
}


.statusMenu button:not(:first-child) {
	border-left: 1px solid black;
}

.statusMenu button:after {
	content: "";
	display: block;
	color: var(--default-background);
	border-bottom: thick solid;
}

.statusMenu .selectedTab:after {
	content: "";
	display: block;
	color: var(--light-blue);
	border-bottom: thick solid;
	
}


.search-container input {
	padding: 2px;
	border: none;
	font-size: 14px;
	background: white;
	border: solid 1px #333;
	border-radius: 6px;
	text-align: left;
}

.col10 {
    width: 5%;
}
.col20 {
    width:20%;
}
