.form__container {
  width: 30rem;
  border: 1px solid #ccc;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  background: white;
  padding: 2rem;
  position: fixed;
  top: 20vh;
  margin: 0 auto;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s ease-out;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form h4 {
  margin: 0;
}

.form__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.form__item label {
  margin: 0;
}

.form__item input {
  padding-left: 0.5rem;
}

.form__item input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888888;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #888888;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #888888;
}
:-moz-placeholder { /* Firefox 18- */
  color: #888888;
}

.form__action {
  align-self: flex-end;
}

.form__action button {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.success,
.fail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.success h6 {
  color: green;
}

.fail h6 {
  color: red;
}

.success button,
.fail button {
  width: 3rem;
  align-self: flex-end;
  font-size: 0.8rem;
}

span {
  color: red;
}